.reg{
 
    line-height: 2;
    background-color: rgb(161, 204, 151);
    box-shadow: 4px 4px 7px;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;

}

.input{
    width: 100%;
    text-align: center;
}

.msg{
    color: red;
    font-weight: bold; 
}






